<h1>Sign up</h1>

<form action='/signup' method='post'>

<h2>Please enter your information below:</h2>

<label>Username:</label>
<input type="text" name="username">
<br/>

<label>Email:</label>
<input type="text" name="email">
<br/>

<label>Password:</label>
<input type="text" name="password">
<br/>

<input type="submit" value="Sign Up">

</form>